.diagram {
  width: 15rem;
  height: 18rem;
}

.diagram {
  width: 100%;
  height: 100%;
}

.diagram-card {
  transition: all 0.15s ease-in-out;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
