.diagram-card {
  transition: all 0.15s ease-in-out;
  border-radius: 0.75rem;
}

.chord-card-body {
  padding-top: 0;
  padding-bottom: 0;
}

.diagram-cycle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chord-name-card {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.diagram-button {
  border-radius: 5rem;
}

.chord-name {
  margin: 0;
}
